# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/

# Ambiente virtual
.venv/
venv/
ENV/
env/

# Variáveis de ambiente
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
